@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Jacob's House";
}


<h1>Jacob Sargent</h1>
<img src="img/jacobRun.jpg" />
<br />
<br />
<p>
    In IS 413 I hope to be able to learn how to make webapps better because Django was great but pretty darn
    complicated. I am also excited to learn how to use React. Overall, I would just like to come out of this
    class being more comfortable with programing.
</p>
<h3>The Top 3 Jobs I would like to Pursue:</h3>
<ol>
    <li>Project Manager</li>
    <li>Developer</li>
    <li>Consultant</li>
</ol>

